VITE_SUPABASE_URL=https://ytdkpbuzycvspexnkeci.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_Zu5t4GsdcE3Kbw2Ztt-PwQ_yNoH3yvQ
VITE_BASE_URL=https://shirkan84.github.io/NovaResort/
VITE_BASE_PATH=/NovaResort
